body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: block;
  max-width: 2000px;
  margin: auto;
}
.hero-container {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/vistas-ciudad-de-granada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  color: white;
  padding: 300px 0;
}

.hero-container h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
}
.hero-container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}
.hero-container h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
}
.hero-container button {
  border: 1px solid transparent;
  padding: 18px 25px;
  margin-top: 50px;
}
.hero-container a {
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
}
.visit-granada {
  display: block;
  margin: auto;
}
.favourite-places {
  display: block;
  margin: auto;
}
.photos {
  display: block;
  margin: auto;
}
footer {
  text-align: center;
  background-image:
    linear-gradient(rgba(39, 32, 68, 0.9), rgba(39, 32, 68, 0.9)),
    url(/images/Alhambra-Granada-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  color: white;
  padding: 100px 20px 50px 20px;
}
.about {
  display: grid;
  grid-template-columns: 3fr 4fr 4fr;
  grid-gap: 40px;
  text-align: left;
  line-height: 1.5;
}
.about th {
  font-size: 20px;
  font-weight: 700;
}
.about td {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
.footer-coder p {
  font-size: 18px;
  padding: 30px;
  margin: 30px;
}
.footer-coder a {
  color: rgb(72, 215, 223);
}
.footer-container {
  display: flex;
  max-width: 1300px;
  margin: auto;
}

@media (max-width: 1100px) {
  .hero-container {
    padding: 100px 0px;
    margin: auto;
    display: block;
  }
  .hero-container h1 {
    font-size: 55px;
  }
  .hero-container h2 {
    font-size: 20px;
  }
  .hero-container h3 {
    font-size: 10px;
  }
  .hero-container a {
    font-size: 12px;
  }
}
